<mat-list *ngIf="connection$ | async as connection">

    <mat-card class="settings-card">
        <mat-list-item matRipple (click)="connection.auto = true" style="cursor: pointer;">
            Automatic
            <span style="flex: 1 1 auto"></span>
            <mat-radio-button [color]="display.palette" [checked]="connection.auto"></mat-radio-button>
            <mat-divider class="app-divider"></mat-divider>
        </mat-list-item>
        <mat-list-item matRipple (click)="connection.auto = false" style="cursor: pointer;">
            Manual
            <span style="flex: 1 1 auto"></span>
            <mat-radio-button [color]="display.palette" [checked]="!connection.auto"></mat-radio-button>
        </mat-list-item>
    </mat-card>
    <p style="color: grey;">
        Reconnect to the vehicle for changes to take effect
    </p>
    <mat-card class="settings-card" *ngIf="!connection.auto">
        <mat-list-item>
            Serial Port
            <span style="flex: 1 1 auto"></span>
            <input matInput class="settings-input" [(ngModel)]="connection.parameters.portstr" placeholder="None" />
            <mat-divider class="app-divider"></mat-divider>
        </mat-list-item>
        <mat-list-item>
            Baudrate
            <span style="flex: 1 1 auto"></span>
            <input matInput class="settings-input" [(ngModel)]="connection.parameters.baudrate" placeholder="None" />
            <mat-divider class="app-divider"></mat-divider>
        </mat-list-item>
        <mat-list-item>
            Protocol
            <span style="flex: 1 1 auto"></span>
            <mat-form-field>
                <mat-select [(ngModel)]="connection.parameters.protocol">
                    <mat-option [value]="null">
                        AUTO
                    </mat-option>
                    <mat-option *ngFor="let p of protocols$ | async" [value]="p.id">
                        {{ p.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-list-item>
    </mat-card>
</mat-list>