.theme {
    margin-left: 5px;
}

.icon {
    vertical-align: sub;
}

.settings-card {
    padding: 0px;
}

.mat-subheader {
    margin-top: 10px;
    padding-left: 0px
}

.settings-input {
    background-color: inherit;
    border-radius: 8px;
    outline: none;
    border: none;
    text-align: right;
    font-size: 16px;
    color: grey;
}

::ng-deep .mat-form-field-underline {
    display: none !important;
}

.settings-chevron {
    vertical-align: middle;
    color: grey;
}