<mat-list *ngIf="settings$ | async as settings; else loading">

    <div mat-subheader><mat-icon>palette</mat-icon>&nbsp;Theme</div>
    <mat-card class="settings-card">
        <mat-list-item>
            Appearance
            <span style="flex: 1 1 auto"></span>
            <div>
                <mat-icon class="theme icon">light_mode</mat-icon>
                <mat-slide-toggle class="theme" [(ngModel)]="isDarkTheme" (ngModelChange)="switchTheme()"></mat-slide-toggle>
                <mat-icon class="theme icon">bedtime</mat-icon>
            </div>
        </mat-list-item>
    </mat-card>


    <div mat-subheader><mat-icon>directions_car</mat-icon>&nbsp;Vehicle </div>
    <mat-card class="settings-card">
        <mat-list-item>
            Year
            <span style="flex: 1 1 auto"></span>
            <input matInput class="settings-input" [(ngModel)]="settings.vehicle.year" placeholder="None"/>
            <mat-divider class="app-divider"></mat-divider>
        </mat-list-item>
        <mat-list-item>
            Make
            <span style="flex: 1 1 auto"></span>
            <input matInput class="settings-input" [(ngModel)]="settings.vehicle.make" placeholder="None"/>
            <mat-divider class="app-divider"></mat-divider>
        </mat-list-item>
        <mat-list-item>
            Model
            <span style="flex: 1 1 auto"></span>
            <input matInput class="settings-input" [(ngModel)]="settings.vehicle.model" placeholder="None"/>
            <mat-divider class="app-divider"></mat-divider>
        </mat-list-item>
        <mat-list-item>
            VIN#
            <span style="flex: 1 1 auto"></span>
            <input matInput class="settings-input" [(ngModel)]="settings.vehicle.vin" placeholder="None"/>
        </mat-list-item>
    </mat-card>


    <div mat-subheader><mat-icon>link</mat-icon>&nbsp;OBD Connection</div>
    <mat-card class="settings-card">
        <mat-list-item routerLink="connection-parameters" matRipple style="cursor: pointer;">
            Parameters
            <span style="flex: 1 1 auto"></span>
            <span style="color:grey">{{ settings.connection.auto ? 'Automatic' : 'Manual' }}<mat-icon style="vertical-align: middle;">chevron_right</mat-icon></span>
            <mat-divider class="app-divider"></mat-divider>
        </mat-list-item>
        <mat-list-item routerLink="log-level" matRipple style="cursor: pointer;">
            Log Level
            <span style="flex: 1 1 auto"></span>
            <span style="color:grey">{{ (settings.connection.log_level || 'WARNING') | titlecase }}<mat-icon style="vertical-align: middle;">chevron_right</mat-icon></span>
        </mat-list-item>
    </mat-card>    
</mat-list>

<ng-template #loading>
    <mat-spinner style="margin: 25vh auto;" [color]="display.palette"></mat-spinner>
</ng-template>


