.sidenav-container {
    height: 100vh;
    overflow: hidden;
    // min-height: calc(100% + env(safe-area-inset-top));
}

.mobile-container {
    padding-bottom: 120px;
}

.sidenav {
    min-width: 64px;
}


.portrait-toolbar {
    // position: fixed;
    top: 0;
    z-index: 1000;
    padding-top: calc(env(safe-area-inset-top) + 10px);
    padding-bottom: env(safe-area-inset-bottom);
}

  
.main {
    overflow: hidden !important;
}

.content {
    overflow-x: hidden;
    padding: 5px !important;
    // padding-bottom: 60px;
}


.portrait-content {
    overflow-x: hidden;
}

.bottom {
    position: absolute;
    bottom: 10px;
}

