<div id="gradient"></div>

<div class="demo-container">

  <div class="demo-row">
    <div style="text-align: start; align-self: start; padding-top: 160px;">
      <h1 style="margin-bottom: 10px">OnBoardPi</h1>
      <h2>The open-source web based OBD2 application for vehicles.</h2>
      <a mat-raised-button href="https://github.com/bgunson/onboardpi" target="_blank">
        <img height="24" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" />
        &nbsp;
        View on GitHub
      </a>
    </div>
    <div class="header-pics" style="align-self: flex-start;">
      <img id="phone"
        src="https://user-images.githubusercontent.com/47361247/213033908-ce58a6a5-569c-4edb-94c4-690b128e115c.png" />
      <img id="desktop"
        src="https://user-images.githubusercontent.com/47361247/217117288-c973a564-e10f-4483-b034-7e19676aa15d.png" />
    </div>
  </div>
</div>
<div class="demo-container" id="features">

  <iframe id="demo-vid" width="560" height="315" src="https://www.youtube.com/embed/HjtUfPwrNDA"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>

  <h2 style="text-align: left; width: 80%; max-width: 650px;">Features</h2>
  <div class="demo-row blob">
    <div>
      <img src="https://user-images.githubusercontent.com/47361247/213033940-019c5e2b-5810-424c-a49c-a8c4c0a26cff.png"
        width="300" />
    </div>
    <div class="demo-text">
      <h3>Dashboard</h3>
      <p>Watch diagnostic data on a convienient dashboard with gauges, curves, or numeric values.</p>
    </div>
  </div>

  <div class="demo-row">
    <div class="demo-text">
      <h3>Diagnostics</h3>
      <p>View stored, pending, or freeze DTCs (diagnostic trouble codes i.e. check engine light) and current status.</p>
    </div>
    <div>
      <img src="https://user-images.githubusercontent.com/47361247/213033717-279aa83f-35b7-416f-be6c-8f178c8f8eef.png"
        width="300" />
    </div>
  </div>

  <div class="demo-row">
    <div>
      <img src="https://user-images.githubusercontent.com/47361247/213034105-7e480c2b-ad2d-4b3f-96e3-c4496e48d0a1.png"
        width="300" />
    </div>
    <div class="demo-text">
      <h3>Data Streams</h3>
      <p>Visualize any OBD2 values on live charts, realtime system information, or all OBD2 values in a continuous
        stream.</p>
    </div>
  </div>

  <div class="demo-row">
    <div>
      <img src="https://user-images.githubusercontent.com/47361247/213033990-7274d23e-3f9e-4da6-80ca-8e5d8b7e6e6f.png"
        width="300" />
    </div>

    <div>
      <img src="https://user-images.githubusercontent.com/47361247/213034043-e5b31fc0-9822-4183-8e4b-4c19b9be182b.png"
        width="300" />
    </div>
  </div>

  <div style="margin-top: 100px; text-align: center;">
    <h4>BUILT WITH</h4>
    <div class="demo-row" style="gap: 6px">

      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-plain.svg" height="64" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg" height="64" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" height="64" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain.svg" height="64" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-plain.svg" height="64" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/raspberrypi/raspberrypi-original.svg" height="64" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-plain.svg" height="64" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-plain.svg" height="64" />

    </div>
  </div>

</div>