.mat-subheader {
    padding-left: 0px
}

.code-card {
    padding: 0px;
    margin-bottom: 5px;
}

.chevron {
    color: grey;
    vertical-align: middle;
}

.freeze {
    margin-top: 20px;
    cursor: pointer;
}