
.mat-subheader {
    padding-left: 0px
}

.mat-list-item-content {
    padding-left: 0px;
}

.info-card {
    padding: 0px;
}
.margin {
    margin-bottom: 5px;
}

.sub-line-title {
    margin-left: 10px;
}