<h2 mat-dialog-title>
    Dashboard Card
    <button style="float: right; top: -5px" mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
</h2>
<form #cardForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Card Type</mat-label>
            <mat-select [(ngModel)]="card.type" name="type" required>
              <mat-option *ngFor="let type of cardTypes | keyvalue" [value]="type.value">
                {{type.key}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Command</mat-label>
            <mat-select [(ngModel)]="card.command" name="command" required>
              <mat-option *ngFor="let cmd of commands$ | async" [value]="cmd">
                {{ cmd }}
              </mat-option>
            </mat-select>
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button *ngIf="!data.new" mat-button mat-dialog-close color="warn" (click)="removeCard()">Remove</button>
        <button mat-button [mat-dialog-close]="true" type="submit" cdkFocusInitial [disabled]="!cardForm.valid">{{ data.new ? 'Add' : 'Update' }}</button>
    </mat-dialog-actions>
</form>