<div style="padding: 10px; position: relative;">
    {{ obdStatus$ | async }}
    <div class="btn">
        <ng-container *ngIf="obd.connectingNow | async; else btn">
            <mat-spinner style="top: 5px" [diameter]="25"></mat-spinner>
        </ng-container>
        <ng-template #btn>
            <ng-container *ngIf="obdConnected$ | async else connect">
                <button mat-button color="warn" (click)="disconnectOBD()">Disconnect</button>                
            </ng-container>
            <ng-template #connect>
                <button mat-button [color]="display.theme === 'dark' ? 'accent' : 'primary'" (click)="connectOBD()">Connect</button>                
            </ng-template>
        </ng-template>
    </div>
</div>

