<div style="padding: 5px;">
    <div style="text-align: center">
        <span class="mat-h1">Welcome to the OnBoardPi Demo Application</span>
        <br>
    </div>
    <br>
    <div style="padding: 0px 6%;">
        A few notes,
        <ul>
            <li>Data is pseudo generated and does not reflect actual usage when installed in a vehicle.</li>
            <li>All changes to dashboards, maintenance and settings are just local and are wiped on a browser refresh so you can mess around as much as you'd like.</li>
            <li>Have fun!</li>
        </ul>
    </div>
    <br>
    <div style="text-align: center;">
        <button mat-button routerLink="/" [color]="display.palette">Continue</button>
    </div>
</div>


