<mat-card-title class="card-title">
    {{ (live$ | async)?.command?.desc }}
</mat-card-title>
<mat-card-content>
    <ng-container *ngIf="live$ | async as live; else loading">
        <ngx-gauge
            class="gauge"
            cap="round"
            [size]="getSize()"
            [type]="gaugeType"
            [min]="min"
            [max]="max"
            [thresholds]="thresholds"
            [label]="live.unit | prettyUnit"
            [value]="live.value | round"
            [duration]="500">
        </ngx-gauge>
    </ng-container>
    <ng-template #loading>
        <mat-spinner 
            class="gauge"
            [diameter]="spinnerDia" 
            [ngStyle]="{'top.px': dashboardService.rowHeight/3.2}" 
            style="margin-top: 20px;"
            [color]="display.palette">
        </mat-spinner>
    </ng-template>
</mat-card-content>
