<mat-card class="settings-card">
    <mat-list-item *ngFor="let l of levels; let last = last" (click)="setLevel(l)" style="cursor: pointer;" matRipple>
        {{ l | titlecase }}
        <span style="flex: 1 1 auto;"></span>
        <mat-radio-button [color]="display.palette" [checked]="l === level"></mat-radio-button>
        <mat-divider class="app-divider" *ngIf="!last"></mat-divider>
    </mat-list-item>
</mat-card>

<mat-nav-list>
    <mat-card class="settings-card">
        <mat-list-item>
            <a [href]="getLogUrl('view')" target="_blank" style="width: 100%;">
                View Log<span style="float: right;"><mat-icon class="settings-chevron">launch</mat-icon></span>
            </a>
            <mat-divider [inset]="true" class="app-divider"></mat-divider>
        </mat-list-item>
        <mat-list-item>
            <a [href]="getLogUrl('download')" target="_blank" style="width: 100%;">
                Download Log<span style="float: right;"><mat-icon class="settings-chevron">download</mat-icon></span>
            </a>
        </mat-list-item>
    </mat-card>

</mat-nav-list>
    