.level-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.level-radio-button {
    margin: 10px;
    float: right;
}

.level-card {
    padding: 5px;
    padding-top: 5px !important;
}

.level-divider {
    margin-top: 10px
}