.sidenav-container {
    height: 100vh;
    overflow: hidden;
}

.portrait-container {
    height: calc(100vh - 56px);     // subract the height of the toolbar
}

.mobile-container {
    padding-top: 0px !important;
}

.sidenav {
    min-width: 64px;
}


.portrait-toolbar {
    position: sticky;
    top: 0px;
    z-index: 1000;
    padding-top: calc(1.4 * env(safe-area-inset-top));
    padding-bottom:  env(safe-area-inset-bottom);
}

  
.main {
    overflow: hidden !important;
}

.content {
    overflow-x: hidden;
}

.bottom {
    position: absolute;
    bottom: 10px;
}

